<section class="facebook-block">
  <figure class="facebook-block__images">
    <img
      [srcset]="
        wpBase + 'assets/img/facebook.png 100w, ' +
        wpBase + 'assets/img/facebook@2x.png 540w'"
      [src]="wpBase + 'assets/img/facebook@2x.png'"
      alt="De Rennende Rakkers op Facebook"
      sizes="(min-width: 960px) 540px, 100vw"
    >
  </figure>
  <div class="facebook-block__text">
    <h1 class="facebook-block__text__title">Iedere dag een update met heel veel leuke foto's en videos van de groep</h1>
    <a class="facebook-block__text__btn" href="https://nl-nl.facebook.com/derennenderakkers/" target="_blank">Bekijk Facebook pagina</a>
  </div>
</section>
